@import url(./_type/btn_type_reset.css);
@import url(./_type/btn_type_start.css);
@import url(./_is/btn_is_active.css);
@import url(./_is/btn_is_disabled.css);

.btn {
  display: block;
  outline: none;
  min-height: 50px;
  max-width: 100px;
  width: 100%;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px 5px #000;
  color: #212121;
  font-weight: bold;
  font-size: 15px;
  transition: 0.1s;
}

@media (pointer: fine) {
  .btn {
    cursor: pointer;
  }
}
